body
{
    background-color: hsl(30, 38%, 92%);
    margin: auto;
    padding-top: 100px;
}

#main
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

/* Bloc Image */

#photo img
{
    max-width: 300px;
    border-radius: 15px 0px 0px 15px;
}

/* Bloc produit */

#produit
{
    background-color: white;
    max-width: 240px;
    max-height: 430px;
    border-radius: 0px 15px 15px 0px;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 35px;
    vertical-align: middle;
}

h1
{
    font-family: 'Fraunces', 'Times New Roman', Times, serif;
    color: hsl(212, 21%, 14%);
}

h2
{
    font-size: 0.7em;
    letter-spacing: 0.5em;
    font-weight: 400;
    text-transform:uppercase;
}

p, .small_price, h2, a
{
    font-family: 'Montserrat', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: hsl(228, 12%, 48%);
}

#price_bloc
{
    margin-top: 35px;
}

.price
{
    margin-top: 20px;
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: 500;
}

.small_price
{
    font-size: 1em;
    text-decoration:line-through;
}

#cta
{
    text-align: center;
    margin-top: 25px;
    padding-top: 15px;
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
}

#cta:hover
{
    background-color: hsl(157, 35%, 21%);
}

p
{
    font-size: 11pt;
    line-height: 1.4em;
}

a
{
    display: block;
    height: 35px;
    color: white;
    text-decoration: none;
}

svg
{
    margin-right: 5px;
}

/* Responsive */

@media all and (max-width: 619px) {
    #photo img {
        border-radius: 15px 15px 0px 0px;
        margin-bottom: -5px;
        max-width: 350px;
    }

    #produit
    {
        border-radius: 0px 0px 15px 15px;
        max-width: 290px;
        height: 370px;
    }

    h1
    {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}